/* general */
:root{
    --mycolor-bg-gray:rgb(247, 247, 247);
    --mycolor-bg-light-blue:rgb(27, 114, 232);
    --mycolor-bg-dark-blue:rgb(20, 42, 64);
    --mycolor-bg-search-bar: #e5e5e5;
    --mycolor-bg-body: #f8f9fa;
    --mycolor-bell:orange;

   
}

/* utility */
.debug{
    border: 2px solid red;
}

.my-bg-searchbar{
    background-color: var(--mycolor-bg-search-bar);
}

.my-bg-light-blue{
    background-color: var(--mycolor-bg-light-blue);
}

.my-bg-dark-blue{
    background-color: var(--mycolor-bg-dark-blue);
}

.my-bg-grey{
    background-color: var(--mycolor-bg-gray);
}

.my-color-bell{
    color: orange;
}

.hidden-big{
    display: none;
}

.icone-centrate{
    display: inline-flex;
    align-items: center;
    align-content: center;
}
.text-right{
    text-align: end;
}
.font-size-08{
    font-size: 0.8em;
}

/* container */

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;

}

.right-attached {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin-right: 0;
    height: 100vh;
    margin-top: 0;
  }
  
  .right-attached .modal-dialog {
    margin: 0 ;
  }
  
  .right-attached .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  
  .custom-modal .modal-dialog {
    max-width: 700px; 
    width: 90%; 
  }

  button.my-color-bell:hover{
    color: var(--mycolor-bell);
  }

  

header{
    width: 100%;
    height: 70px;
}

.logo-mobile{
    width: 50px;
}

.btn-group .dropdown-toggle::before {
    display: none;
  }
  
main{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;     
    position: relative;
}

#sidebar{
    /* width: 150px; */
    background-image: url(../img/sidebar-bg.png);
   
}

#mini-sidebar{
    width: 70px;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
}

#main-content{
    flex-grow: 1;
    /* width: calc(100% - 150px); */
    overflow-y: auto; 
    
}

.prima-tabella{
    width: 50%;
}

.my-icon{
    width: 25px;
    height: 25px;
    margin-right: 3px;

}

.hover-my-list li:hover{
    background-color: rgba(128, 128, 128, 0.512);
}

@media screen and (max-width:992px) {
    #sidebar{
        width: 70px;
        opacity: 0;
    }

    #mini-sidebar{
        opacity:1;
    }

    .hidden-big{
        display: block;
    }
 
    #main-content{
        width: calc(100% - 70px);
        overflow-y: auto;   
    }

    .prima-tabella{
        width: auto;
    }

    .custom-modal .modal-dialog {
        width: 100%; 
      }
}

@media screen and (max-width: 550px) {
    .logo{
        opacity: 0;
        display: none !important;

    }

    .hidden-mini{
        display: none;
    }

    .icone-centrate{
        display: none;
    }
    .column-navmain{
        display: flex;
        flex-direction: column-reverse
    }

    .logo-mobile{
        opacity: 1;
        display: block !important; 
    }

    .hidden-mini{
        display: none;
    }
   
}
